In [1]:
from faker import Faker

In [5]:
faker = Faker()
list1 = []
for _ in range(100):
    list1.append(faker.name())

In [7]:
list2 = []
for _ in range(100):
    address = faker.address()
    new_address = address.replace("\n"," ")
    list2.append(new_address)

In [8]:
list3 = []
for _ in range(100):
    list3.append(faker.email())

In [9]:
import random

list4=[]

def randN(N):
    min = pow(10, N-1)
    max = pow(10, N) - 1
    return random.randint(min, max)

for _ in range(100):
    num = randN(8)
    list4.append(num)

In [10]:
len(list4)

100

In [11]:
import pandas as pd

In [12]:
dict1 = {"customer_name":list1, "mailing_address": list2, "email":list3, "customer_id":list4}

In [13]:
df1 = pd.DataFrame(dict1)
df1.head()

,customer_name,mailing_address,email,customer_id
0,Rebecca Hobbs,"046 George Divide Apt. 694 Port Jacob, MD 17171",jacobcallahan@hotmail.com,60933653
1,Amanda Hernandez,"66112 Fox Oval Markfort, MN 15554",wandarhodes@hotmail.com,31762611
2,Jason Anderson,"687 Patrick Shores Alyssaberg, MA 03960",daniel43@knight.net,72743199
3,David Martinez,"3808 Anderson Cove South Matthew, GA 65371",tylerhill@gmail.com,68185259
4,Mrs. Terri Ward,"7773 Chad Courts East Travis, NH 10778",frostvanessa@miller.com,87018786

In [14]:
df1.to_csv("customers.csv")

In [15]:
type(df1['customer_name'])

pandas.core.series.Series

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
customer_name      100 non-null object
mailing_address    100 non-null object
email              100 non-null object
customer_id        100 non-null int64
dtypes: int64(1), object(3)
memory usage: 3.2+ KB

In [17]:
# pip install fastparquet
# Successfully installed fastparquet-0.3.3 thrift-0.13.0
df1.to_parquet('customers.parquet', engine='fastparquet', compression='GZIP')